<div class="container-fluid">
        <!-- navbar -->

        <nav class="navbar navbar-expand-sm fixed-top navbar-secondary bg-warning">
            <a class="navbar-brand bnother" href="#"><i class="fas fa-snowflake"></i>Weather Channel</a>

            <a class="nav-item nav-link active another" href="index">Home </a>
            <a class="nav-item nav-link another" href="weather">Weather</a>
            <a class="nav-item nav-link another" href="about">About</a>
        </nav>
    </div>