*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar alter links  width*/
a.another{
    color: rgb(0, 0, 0);
    width: 150px;
    font-size: 1.2rem;
}

/* navbar margin from channel */
a.bnother{
    margin-right: 9rem;
}

/* for sticky correction of 1st header */
.marg{
    margin-top: 15rem;
}


/* footer */
footer{
    
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 23px;   /* Height of the footer */
    background: rgb(0, 0, 0);
    text-align: center;
    color: azure;
    margin-top: auto;

}
/* @media(max-width:500px){
    footer{
    
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 23px;   
        background: rgb(224, 23, 23);
        text-align: center;
        color: rgb(44, 221, 221);
        margin-top: auto;
    
    }
} */



/* hover on nav */
nav a.another:hover{

    text-shadow: 3px 2px salmon;

}

/* transition for snowflake */
.fa-snowflake{
        transition: all linear;
        animation: rot 2s linear infinite;
}

@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* button on home alter */
.main_header_left button{
    cursor: pointer;
    border-radius: 8px;

    
}
.main_header_left button:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;

}

